body{
    background-color:#0D1117;
}
.navbar{
    display: flex;
    justify-content: space-between;
    padding-left: 115px;
    padding-right: 115px;
    padding-top: 10px;
    margin-top: 10px;
    margin-bottom: 35px;
}
.navbar:hover{
    cursor: pointer;
}
.toplink{
    padding-left: 22px;
    padding-right: 22px;
    color: #9BA3B4;
    font-size: 20px;
    font-family: sans-serif;
    
}
.Topbutton{
    font-size: 25px;
    color: white;
    margin-right: 5px;
    font-family: sans-serif;
}
.side{
    margin-top: -5px;
}
.Download{
    background-color: #0078D4;
    color: white;
    height: 50px;
    border-radius: 5px;
    width: 200px;
    font-size: 25px;
}
.Searchbar{
    height: 40px;
    width: 250px;
    border-radius: 5px;
    border: 1px solid rgb(207, 204, 204);
    background-color:#0D1117;
    font-size: 20px;
    text-align: center;
    margin-right: 5px;
}
.content{
    padding-top: 15px;
    display: grid;
    justify-content: center;
    text-align: center;
}

.buttons{
    display: flex;
    justify-content: center;
}
.forwindows{
    background-color: #0078D4;
    color: white;
    font-size: 20px;
    height: 60px;
    width: 280px;
    margin-right: 10px;
    border-radius: 5px;
}
.Try{
    width: 230px;
    height: 60px;
    border-radius: 5px;
    background-color: #FFFFFF1A;
    color: #E9EAEB;
    font-size: 20px;
}
.img{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}
